.itemsRow {
    display: flex;
    flex-wrap: wrap;
}

.addButton {
    width: 94%;
    background-color: #76DD64;
    margin-left: 2%;
    border: none;
    border-radius: 30px 30px 0 0;
}

.item {
    width: 30%;
    border: 1px solid black;
    margin-top: 0;
    margin-left: 2%;

}

.row {
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    width: 100%;
}

.removeItem {
    border: none;
    background-color: #E83E3E;
    font-weight: bold;
    height: 15em;
}

.productImage {
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

.card-title {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.card-text {
    margin-top: 35%;
    text-align: center;
}

.img-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.itemName {
    text-align: center;
}

.addToOrder,
.removeFromOrder {
    width: 20%;
    margin: auto;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(490deg)
}

.itemRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
