.card-content {
    padding: 0 !important;
}

.is-small.input, .is-small.textarea {
    width: 45%;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.title.is-5 {
    text-align: center;
    padding-bottom: 10%;
}

.subtitle.is-7 {
    margin: 3%;
}

@media only screen and (min-width: 1024px)  {
    .inline {
        display: flex;
        justify-content: space-between;
    }

    .inline .subtitle.is-7 {
        margin-top: auto;
        margin-bottom: auto;
    }
}